<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{_invoice.proforma}</title>
    <style>
    </style>
</head>

<body style="font-family: sans-serif;">
    {include '_header.latte', type => 'proforma'}
    {include '_clientData.latte'}
    {include '_supplierData.latte'}
    {include '_items.latte', type => 'proforma'}
</body>
</html>
