<div class="title title--border mt-4">
	<div class="row align-items-center">
		<div class="col-12 col-sm-8 order-2 order-sm-1 text-center text-sm-left">
		    <p class="h4 mb-0 font-weight-bold">{_products.category_count, [count => $productCount]}</p>
		</div>
		<div class="col order-sm-2 text-center text-sm-right" id="categorySorting">
		    {control productSort}
		</div>
	</div>
</div>