{block content}
    {control profitGrid}
{/block}
{block dashboardTitle}
    <small>Katalog</small>
    <h1>Marže</h1>
{/block}
{block headerActions}
    <div style="display: inline-block;">
        <a class="btn btn-success" n:href="recalculate!">Přepočítat ceny</a>
    </div>
{/block}