{block content}
    <div class="row">
        <div class="col-12">
            {control datePickForm}
        </div>
    </div>
    {control commissionGrid}
{/block}
{block dashboardTitle}
    <small>Prehľad</small>
    <h1>Provízie</h1>
{/block}
