{block content}
    {control attributeGrid}
{/block}
{block dashboardTitle}
    <small>Katalog</small>
    <h1>Atributy</h1>
{/block}
{block headerActions}
    <div style="display: inline-block;">
        <a class="btn btn-success" n:href="add"><i aria-hidden="true" class="fa fa-plus fa-first"></i> Přidat atribut</a>
    </div>
{/block}