{block content}
    {control attributeValueGrid}
{/block}
{block dashboardTitle}
    <small>Atributy</small>
    <h1>Hodnoty</h1>
{/block}
{block headerActions}
    <div style="display: inline-block;">
        <a class="btn btn-success" n:href="default"><i aria-hidden="true" class="fas fa-arrow-left fa-first"></i> Zpět</a>
    </div>
{/block}