{*<div n:if="isset($floatText) && $floatText" id="floatText" class="bg-gray-600 text-white font-weight-bold py-1">
	<div class="container text-center py-1">
		<div class="floatText">
			{$floatText|noescape}
			<a href="#" class="float-right" data-infotext-close="#floatText"><i class="fa fa-times text-danger"></i></a>
		</div>
	</div>
</div>*}