<div class="card mb-3">
    <div class="card-body">
        <form n:name="form" class="form-inline">
            <div class="col-auto ml-auto">
                {input lang_id class => "form-control mr-2 lang-select", onchange => "this.form.submit()"}
                {input submit class => 'btn btn-primary lang-submit d-none'}
            </div>
        </form>
    </div>
</div>
{snippet productGrid}
    {control grid}
{/snippet}