hello: "Ahoj, "
sign_out: "Odhlásit se"
main_name: "MIBRON.store" #system name
dashboard_order_today: "Objednávky / dnes"
dashboard_order_week: "Objednávky / týden"
dashboard_order_month: "Objednávky / měsíc"
dashboard_order_year: "Objednávky / rok"
dashboard_order_total: "Objednávky / celkem"
dashboard_profit_today: "Zisk / dnes"
dashboard_profit_week: "Zisk / týden"
dashboard_profit_month: "Zisk / měsíc"
dashboard_profit_year: "Zisk / rok"
dashboard_profit_total: "Zisk / celkem"
dashboard_table_header: "Objednávky"
add_product: "Přidat produkt"
back: "Zpět"
save: "Uložit"
add: "Přidat"
add_category: "Pridat kategorii"
add_manufacturer: "Pridat výrobce"
add_atribute: "Pridat atribut"
recalculate: "Přepočítat ceny"
add_page: "Přidat stránku"
global_notification_input: "Text globálního oznámení"
global_meta_description_input: "Text globálního meta popisu"
add_blog_post: "Přidat článek"
add_menu: "Přidat položku navigace"
add_slider: "Přidat položku slideru"
add_banner: "Přidat banner"
add_shipping: "Přidat možnost dopravy"
add_payment: "Přidat možnost platby"
free_shipping_text: "Doprava zdarma od"
