{block content}
    {control faqGrid}
{/block}
{block dashboardTitle}
    <small>Poradna</small>
    <h1>Přehled</h1>
{/block}
{block headerActions}
    <div style="display: inline-block;">
        <a class="btn btn-success" n:href="add"><i aria-hidden="true" class="fa fa-plus fa-first"></i> Přidat odpověď</a>
    </div>
{/block}