{block content}
    {control blogGrid}
{/block}
{block dashboardTitle}
    <small>Obsah</small>
    <h1>Články</h1>
{/block}
{block headerActions}
    <div style="display: inline-block;">
        <a class="btn btn-success" href="{plink Tag:default}"> Tagy</a>
        <a class="btn btn-success" href="{plink BlogCategory:default}"> Kategórie</a>
        <a class="btn btn-success" n:href="add"><i aria-hidden="true" class="fa fa-plus fa-first"></i> Přidat článek</a>
    </div>
{/block}