welcome : 'vitejte'
search : 'hledani'
login : 'prihlaseni'
logout : 'odhlaseni'
gallery: 'galerie'
gallery_images: 'galerie-obrazky'
registration : 'registrace'
forgotten_password : 'zapomenute-heslo'
new_password : 'nove-heslo'
sent_password : 'zapomenute-heslo-odeslano'
favorite : 'oblibene'
account: 'ucet'
account_detail: 'ucet/detail/<id>'
account_edit: 'ucet/udaje'
account_watchdog: 'ucet/sledovani-ceny'
account_downloads: 'ucet/ke-stazeni'
blog: 'blog'
blog_post: 'blog/<slug>'
cart_summary: 'prehled-objednavky'
cart_finish: 'dokonceni-objednavky'
cart: 'kosik'
producers: 'vyrobci'
producer: 'vyrobce/<slug>'
where_to_buy: 'kde-si-nas-muzete-koupit'
contact: 'kontakt'
faq: 'poradna'
cart_finish_card: 'platba-kartou'
account_unpaid_orders: 'ucet/nezaplacene-objednavky'
account_paid_orders: 'ucet/zaplacene-objednavky'
account_create_user: 'ucet/novy-zakaznik'
account_new_order: 'ucet/nova-objednavka'
marketing_gallery: 'ucet/marketingova-galerie'
marketing_gallery_images: 'ucet/marketingova-galerie-obrazky'
office: 'office'