welcome: 'vitajte'
search : 'hladanie'
login : 'prihlasenie'
logout : 'odhlasenie'
gallery: 'galeria'
gallery_images: 'galeria-obrazky'
marketing_gallery: 'ucet/marketingova-galeria'
marketing_gallery_images: 'ucet/marketingova-galeria-obrazky'
registration : 'registracia'
forgotten_password : 'zabudnute-heslo'
new_password : 'nove-heslo'
sent_password : 'zabudnute-heslo-poslane'
favorite : 'oblubene'
account: 'ucet'
account_detail: 'ucet/detail/<id>'
account_edit: 'ucet/udaje'
account_watchdog: 'ucet/sledovanie-ceny'
account_downloads: 'ucet/na-stiahnutie'
blog: 'blog'
blog_post: 'blog/<slug>'
cart_summary: 'prehlad-objednavky'
cart_finish: 'dokoncenie-objednavky'
cart: 'nakupny-kosik'
producers: 'vyrobcovia'
producer: 'vyrobca/<slug>'
where_to_buy: 'kde-si-nas-mozete-kupit'
contact: 'kontakt'
faq: 'poradna'
cart_finish_card: 'platba-kartou'
account_unpaid_orders: 'ucet/nezaplatene-objednavky'
account_paid_orders: 'ucet/zaplatene-objednavky'
account_create_user: 'ucet/novy-zakaznik'
account_new_order: 'ucet/nova-objednavka'
office: 'office'