welcome : 'welcome'
search : 'search'
login : 'sign-in'
logout : 'sign-out'
registration : 'sign-up'
forgotten_password : 'forgotten-password'
new_password : 'new-password'
sent_password : 'forgotten-password-sent'
favorite : 'favorite'
account: 'account'
account_detail: 'account/detail/<id>'
account_edit: 'account/edit'
account_watchdog: 'account/watchdog'
account_downloads: 'account/downloads'
blog: 'blog'
blog_post: 'blog/<slug>'
cart_summary: 'order-summary'
cart_finish: 'order-finish'
cart: 'cart'
producers: 'producers'
producer: 'producer/<slug>'
where_to_buy: 'where-to-buy'
contact: 'contact'
faq: 'faq'
cart_finish_card: 'payment-card'
account_unpaid_orders: 'account/unpaid-orders'
account_paid_orders: 'account/paid-orders'
account_create_user: 'ucet/new-customer'
account_new_order: 'ucet/nova-objednavka'
marketing_gallery: 'account/marketing-gallery'
marketing_gallery_images: 'account/marketing-gallery-images'
office: 'office'