<div id="cookies-eu-banner" class="cookieBanner" style="display: none;">
	<div class="container text-center">
	    <span class="d-inline-block mt-1 mr-3">{_cookie_banner.message}</span>
	    <a href="/informacie-ku-cookies" id="cookies-eu-more" class="btn btn-sm btn-link text-secondary ml-2">{_cookie_banner.more}</a>
	    <button id="cookies-eu-reject" class="btn btn-sm btn-outline-danger ml-2">{_cookie_banner.reject}</button>
	    <button id="cookies-eu-accept" class="btn btn-sm btn-secondary ml-2">{_cookie_banner.accept}</button>
	</div>
</div>