{if !isset($hideFooter) || !$hideFooter}
    {*include 'producers.latte'*}
    <footer class="footer3 cid-skymPLg3Wa" id="footer3-5">
        <div class="container">
            {include 'columns.latte'}
            {include 'mailchimp.latte'}
            {include 'subfooter.latte'}
        </div>
    </footer>
{/if}