cart: 'Košík'
summary: 'Prehlad objednávky'
finish_title: 'Dokončenie objednávky'
empty: 'Košík je prázdný'
new_customer: 'Nový zákazník'
registered_customer: 'Registrovaný zákazník'
delivery: 'Spôsob dopravy'
payment: 'Spôsob platby'
select_country: 'Zvolte krajinu'
select_delivery: 'Vyberte spôsob dopravy'
order: 'Objednávka'
recount: 'Prepočítať'
remove: 'odobrať'
continue: 'Pokračovať ďalej'
back_to_shop: 'Späť do obchodu'
finish: 'Dokončiť'
confirm_gdpr: 'Súhlasím so <a href="/ochrana-osobnych-udajov">spracovaním osobných údajov</a> a <a href="/obchodne-podmienky">Všeobecnými obchodnými podmienkami</a>'
confirm_new_account: 'Chcem vytvoriť účet pre uľahčenie budúceho nákupu'
cashier: 'Pokladňa'
overview: 'Prehľad'
ordered: 'Objednané'
count: "%count% položka|%count% položky|%count% položiek"
delivery_remains: 'Nakúpte ešte za'
delivery_remains1: 'a získajte dopravu ZADARMO.'
bronzeTarget: ' a získavate nárok na <strong>1 ks</strong> vlastného výberu zadarmo'
silverTarget: ' a získavate nárok na <strong>2 ks</strong> vlastného výberu zadarmo'
goldTarget:  ' a získavate nárok na <strong>4 ks</strong> vlastného výberu zadarmo'
bronzeLevel: ' a navyše bronzové partnerstvo'
silverLevel: ' a navyše strieborné partnerstvo'
goldLevel: ' a navyše zlaté partnerstvo'
selectGratisItem: 'vlastního výběru zdarma'
reached_level: 'Dosiahnutý stupeň:'
buy: 'Nakúpte ešte '
oneItem: 'výživový doplnok'
moreItem: 'výživové doplnky'
justItem: 'výživového doplnku'
selectItem: 'Máte nárok na '

address:
	private_info: 'Osobné informácie'
	delivery_info: 'Doručovacie informácie'
	invoice_address: 'Fakturačná adresa'
	delivery_address: 'Doručovacia adresa'
	company_info: 'Firemné údaje'
	invoice_to_company: 'Chcem faktúru na firmu'
	b2b_request: 'Firemné údaje'
	different_delivery: 'Iná adresa dodania'
	company: 'Názov firmy'
	ico: 'IČO'
	dic: 'DIČ'
	icdph: 'IČ DPH'
	name: 'Meno'
	surname: 'Priezvisko'
	phone: 'Telefón'
	street: 'Ulica a číslo popisné'
	city: 'Obec'
	zip: 'PSČ'
	country: 'Krajina'
	iban: 'IBAN'

coupon:
	title: 'Zľavový kupón'
	apply: 'Uplatniť'

total:
	before_discount: 'Celkom pred zľavou'
	discount: 'Zľava'
	without_vat: 'Celkom bez DPH'
	with_vat: 'Celkom s DPH'
	include_shipping: '(vrátane dopravy a platby)'
	vat: 'DPH'
	with_vat_after_discount: 'Celkom po zľave s DPH'

validation:
	name: 'Zadajte meno'
	surname: 'Zadajte priezvisko'
	email: 'Zadajte e-mail'
	street: 'Zadajte ulicu a číslo'
	city: 'Zadajte mesto'
	zip: 'Zadajte PSČ'
	phone: 'Zadajte telefón'
	company: 'Zadajte meno firmy'
	ico: 'Zadajte IČO'
	country: 'Zvolte krajinu'
	shipping: 'Vyberte spôsob dopravy'
	payment: 'Vyberte spôsob platby'
	confirm_gdpr: 'Musíte súhlasiť zo spracováním osobných údajov.'

finished:
	order_on_way: 'Už sa to vezie!'
	thank_you_text: 'Skvelý výber, hotovo. Produkty práve balíme a onedlho budú na ceste k Vám. Ďakujeme, že ste si u nás nakúpili a že spolu s nami šetríte planétu :)'
	follow_us_facebook: 'Medzitým nás môžete sledovať na Facebooku, aby Vám neutiekla žiadna naše akcie.'
	back_to_home: 'Späť na úvodnú stránku'
	card_error: 'Platba bola neúspešná'
