cart: 'Cart'
summary: 'Order summary'
finish_title: 'Order completion'
empty: 'Your cart is empty'
new_customer: 'New customer'
registered_customer: 'Registered customer'
delivery: 'Shipping method'
payment: 'Payment method'
select_country: 'Select a country'
select_delivery: 'Select a shipping method'
order: 'Order'
recount: 'Recount'
remove: 'remove'
continue: 'Continue'
back_to_shop: 'Back to shop'
finish: 'Finish'
confirm_gdpr: 'I agree with <a href="/privacy-policy">the processing of personal data</a> and <a href="/terms-and-conditions">the General Terms and Conditions</a>'
confirm_new_account: 'I want to create an account to simplify further orders'
cashier: 'Checkout'
overview: 'Summary'
ordered: 'Ordered'

address:
	private_info: 'Personal information'
	delivery_info: 'Delivery information'
	invoice_address: 'Billing address'
	delivery_address: 'Shipping address'
	company_info: 'Company information'
	invoice_to_company: 'I want to issue an invoice for the company'
	b2b_request: 'Company details'
	different_delivery: 'Different shipping address'
	company: 'Company name'
	ico: 'Company ID'
	dic: 'VAT number'
	icdph: 'VAT number 2'
	name: 'Name'
	surname: 'Surname'
	phone: 'Phone'
	street: 'Street and descriptive number'
	city: 'Municipality'
	zip: 'Postal code'
	country: 'Country'
	iban: 'IBAN'

coupon:
	title: 'Discount coupon'
	apply: 'Apply'

total:
	before_discount: 'Total before discount'
	discount: 'Discount'
	without_vat: 'Total exc. VAT'
	with_vat: 'Total inc. VAT'
	include_shipping: '(including shipping and payment)'
	vat: 'VAT'
	with_vat_after_discount: 'Total after discount inc. VAT'

validation:
	name: 'Fill in your name'
	surname: 'Fill in your surname'
	email: 'Fill in your e-mail'
	street: 'Fill in the street and descriptive number'
	city: 'Fill in the municipality'
	zip: 'Fill in the postal code'
	phone: 'Fill in the phone'
	company: 'Fill in your company name'
	ico: 'Fill in company ID'
	country: 'Select country'
	shipping: 'Select shipping method'
	payment: 'Select payment method'
	confirm_gdpr: 'You must consent to the processing of personal data.'

finished:
	order_on_way: "It's coming!"
	thank_you_text: 'Thank you for your order! We are working hard to deliver it as soon as possible.'
	follow_us_facebook: "In the meantime, you can follow us on Facebook so that you don't miss any of our events."
	back_to_home: 'Back to home page'
	card_error: 'Payment unsuccessful'
