cart: 'Košík'
summary: 'Přehled objednávky'
finish_title: 'Dokončení objednávky'
empty: 'Košík je prázdný'
new_customer: 'Nový zákazník'
registered_customer: 'Registrovaný zákazník'
delivery: 'Způsob dopravy'
payment: 'Způsob platby'
select_country: 'Zvolte zemi'
select_delivery: 'Vyberte způsob dopravy'
order: 'Objednávka'
recount: 'Přepočítat'
remove: 'odebrat'
continue: 'Pokračovat dále'
back_to_shop: 'Zpět do obchodu'
finish: 'Dokončit'
confirm_gdpr: 'Souhlasím se <a href="/zpracovani-osobnich-udaju">zpracováním osobních údajů</a> a <a href="/obchodni-podminky">Všeobecnými obchodními podmínkami</a>'
confirm_new_account: 'Chci vytvorit účet pro zjednodušení dalších nákupů'
cashier: 'Pokladna'
overview: 'Přehled'
ordered: 'Objednáno'
delivery_remains: 'Nakupte ještě za'
delivery_remains1: 'a získejte dopravu ZADARMO.'
reached_level: 'Dosáhnutý stupeň:'
bronzeTarget: ' a získáváte nárok na <strong>1 ks</strong> vlastního výběru zdarma'
silverTarget: ' a získáváte nárok na <strong>2 ks</strong> vlastního výběru zdarma'
goldTarget:  ' a získáváte nárok na <strong>4 ks</strong> vlastního výběru zdarma'
bronzeLevel: ' a navíc bronzové partnertsví'
silverLevel: ' a navíc stříbrné partnertsví'
goldLevel: ' a navíc zlaté partnertsví'
selectGratisItem: 'vlastního výběru zdarma'
buy: 'Nakupte ještě '
oneItem: 'výživový doplněk'
moreItem: 'výživové doplňky'
justItem: 'výživového doplňku'
selectItem: 'Máte nárok na '

address:
	private_info: 'Osobní informace'
	delivery_info: 'Doručovací informace'
	invoice_address: 'Fakturační adresa'
	delivery_address: 'Doručovací adresa'
	company_info: 'Firemní údaje'
	invoice_to_company: 'Chci fakturu na firmu'
	b2b_request: 'Firemní údaje'
	different_delivery: 'Jiná adresa dodání'
	company: 'Název firmy'
	ico: 'IČO'
	dic: 'DIČ'
	icdph: 'IČ DPH'
	name: 'Jméno'
	surname: 'Příjmení'
	phone: 'Telefon'
	street: 'Ulice a číslo popisné'
	city: 'Obec'
	zip: 'PSČ'
	country: 'Země'
	iban: 'IBAN'

coupon:
	title: 'Slevový kupon'
	apply: 'Uplatnit'

total:
	before_discount: 'Celkem před slevou'
	discount: 'Sleva'
	without_vat: 'Celkem bez DPH'
	with_vat: 'Celkem s DPH'
	include_shipping: '(včetně dopravy a platby)'
	vat: 'DPH'
	with_vat_after_discount: 'Celkem po slevě s DPH'

validation:
	name: 'Zadajte jméno'
	surname: 'Zadajte příjmení'
	email: 'Zadajte e-mail'
	street: 'Zadajte ulici a číslo'
	city: 'Zadajte město'
	zip: 'Zadajte PSČ'
	phone: 'Zadajte telefon'
	company: 'Zadajte název firmy'
	ico: 'Zadajte IČO'
	country: 'Zvolte zemi'
	shipping: 'Vyberte způsob dopravy'
	payment: 'Vyberte způsob platby'
	confirm_gdpr: 'Musíte souhlasit se zpracováním osobních údajů.'

finished:
	order_on_way: 'Už se to veze!'
	thank_you_text: 'Děkujeme za Vaší objednávku! Usilovně pracujeme na tom, aby byla u Vás doma co nejdříe to půjde.'
	follow_us_facebook: 'Mezitím nás můžete sledovat na Facebooku, aby Vám neutekla žádná naše akce.'
	back_to_home: 'Zpět na úvodní stránku'
	card_error: 'Platba byla neúspěšná'
