message: 'Soubory cookie nám pomáhají poskytovat lepší služby. Používaním našich služeb vyjadřujete souhlas s používáním souborů cookie.'
more: 'Více informací'
reject: 'Nesouhlasím'
accept: 'Souhlasím'