hello: 'Hello'
order_confirmation: 'Order confirmation'
order_received: 'Your order was accepted'
order_storno: 'Order cancellation'
order_change: 'Status of order no. %number% has changed'
lost_password: 'Forgotten password'
order_number: 'Order number'
details_below: 'Order details can be found below'
order_date: 'Date of order'
item: 'Item'
amount: 'Amount'
total: 'Total'
delivery: 'Shipping'
payment: 'Payment'
to_reset_password: 'To reset your password, use'
this_link: 'this link'
contact_form: 'Message from the contact form'
contact: 'A contact form has been submitted on MaxSport website.'