hello: 'Dobrý den'
order_confirmation: 'Potvrzení objednávky'
order_received: 'Vaša objednávka byla přijatá'
order_storno: 'Stornace objednávky'
order_change: 'Změna stavu objednávky č. %number%'
lost_password: 'Zapomenuté heslo'
order_number: 'Číslo objednávky'
details_below: 'Detaily objednávky najdete níže'
order_date: 'Datum objednání'
item: 'Položka'
amount: 'Množství'
total: 'Celkem'
delivery: 'Doprava'
payment: 'Platba'
to_reset_password: 'Pro obnovení hesla použijte'
this_link: 'tento odkaz'
contact_form: 'Zpráva z kontaktního formuláře'
contact: 'na webu MaxSport byl odeslán kontaktní formulář.'
