hello: 'Dobrý deň'
order_confirmation: 'Potvrdenie objednávky'
order_received: 'Vaša objednávka bola prijatá'
order_storno: 'Stornovanie objednávky'
order_change: 'Zmena stavu objednávky č. %number%'
lost_password: 'Zabudnuté heslo'
order_number: 'Číslo objednávky'
details_below: 'Detaily objednávky nájdete nižšie'
order_date: 'Dátum objednania'
item: 'Položka'
amount: 'Množstvo'
total: 'Celkom'
delivery: 'Doprava'
payment: 'Platba'
to_reset_password: 'Pre obnovenie hesla použite'
this_link: 'tento odkaz'
contact_form: 'Správa z kontaktného formulára'
contact: 'na webe MaxSport bol odoslaný kontaktný formulár.'
availability_request: 'Dotaz na skladovú dostupnosť'
availability_request_text: 'z Vašeho e-shopu byl zaslán dotaz na skladovou dostupnost produktu %productName% (%productUrl%).'
full_name: 'Meno a priezvisko'
message: 'Správa'
phone: 'Telefón'