heading: 'Výhody produktů &amp; nákupu'
subheading: 'Proč si vybrat naše produkty?'
feature1:
	title: 'Jedinečné složení'
	text: 'Při tvorbě receptury produktů dbáme na selekci a synergii pro poskytnutí prémiové kvality, funkčnosti a bezpečnosti.'
feature2:
	title: 'Vysoká využitelnost'
	text: 'Specifické složení našich produktů zaručuje jejich vysokou využitelnost v organismu.'
feature3:
	title: 'Doprava zdarma'
	text: 'Při nákupu nad 2 600 Kč máte u nás dopravu zdarma.'
feature4:
	title: 'Možnosti spolupráce'
	text: 'Nabízíme možnosti spolupráce na různých úrovních. Vydělejte si díky spolupráci s app!'