heading: 'Výhody produktov &amp; nákupu'
subheading: 'Prečo si vybrať naše produkty?'
feature1:
	title: 'Jedinečné zloženie'
	text: 'Pri tvorbe receptúry produktov dbáme na selekciu a synergiu pre poskytnutie prémiovej kvality, funkčnosti a bezpečnosti.'
feature2:
	title: 'Vysoká využiteľnosť'
	text: 'Špecifické zloženie našich produktov zaručuje ich vysokú využiteľnosť v organizme.'
feature3:
	title: 'Doprava zdarma'
	text: 'Pri nákupe nad 100€ máte u nás dopravu zdarma.'
feature4:
	title: 'Možnosti spolupráce'
	text: 'Ponúkame možnosti spolupráce na rôznych úrovniach. Zarobte si vďaka spolupráci s app!'