feature1:
	title: 'Family business'
	text: 'We are a traditional family business with a long history and tradition.'
feature2:
	title: 'Always fresh'
	text: 'Our products are always fresh and crunchy.'
feature3:
	title: 'Vegan products'
	text: 'Apart from traditional recipes we also love making vegan bakery products.'