column1_text1: 'Navrhnuté na Slovensku pre celý svet!'
column1_text2: 'Sledujte nás aj na sociálných sieťach<br>Sledujte nás a dozviete sa medzi prvými o novinkách, súťažiach a aktuálných zľavách a akciách na naše produkty'
column2_heading: 'NAKUPUJTE U NÁS'
column3_heading: 'app.COM'
mailchimp_agree: 'Súhlasím so spracováním <a href="/ochrana-osobnych-udajov" target="blank">osobných údajov</a>'
mailchimp_button: 'Odoberať'
mailchimp_title: 'Buďte vždy v obraze.'
mailchimp_text: 'Prihláste sa na odber noviniek, aby ste mali vždy aktuálne informácie o novinkách, akciách a rôznych zaujímavostiach zo sveta zdravia.'