column1_text1: 'Navrhnuto na Slovensku pro celý svět!'
column1_text2: 'Sledujte nás i na sociálních sítích<br>Sledujte nás a dozvíte se mezi prvními o novinkách, soutěžích a aktuálních slevách a akcích na naše produkty'
column2_heading: 'NAKUPUJTE U NÁS'
column3_heading: 'app.COM'
mailchimp_agree: 'Souhlasím se zpracováním <a href="/ochrana-osobnich-udaju" target="blank">osobních údajů</a>'
mailchimp_button: 'Odebírat'
mailchimp_title: 'Buďte vždy v obraze.'
mailchimp_text: 'Přihlaste se k odběru novinek, abyste měli vždy aktuální informace o novinkách, akcích a různých zajímavostech ze světa zdraví.'