invoice: 'Faktura'
proforma: 'Proforma'
storno: 'Dobropis'
order_number: 'Objednávka č. %number%'
customer: 'Zákazník'
bank_info: 'Bankovní spojení pro úhradu'
contact_person: 'Kontaktní osoba'
bank: 'Banka'
account_number: 'Č. účtu'
iban: 'IBAN'
swift: 'SWIFT'
vs: 'VS'
issued: 'Vystavená'
email: 'E-mail'
phone: 'Telefon'
items: 'Položky'
sku: 'SKU'
name: 'Název'
amount: 'Množství'
unit_price: 'J. cena'
price_without_vat: 'Cena bez DPH'
vat: 'DPH'
total: 'Celkem'
delivery: 'Doprava'
payment: 'Platba'
note: 'Poznámka'
total_without_vat: 'Suma bez DPH'
vat_total: 'DPH celkem'
paid: 'Uhrazeno'
to_pay: 'Celkem k úhradě'