invoice: 'Invoice'
proforma: 'Proforma'
storno: 'Credit note'
order_number: 'Order no. %number%'
customer: 'Customer'
bank_info: 'Bank account for payment'
contact_person: 'Contact person'
bank: 'Bank'
account_number: 'Account number'
iban: 'IBAN'
swift: 'SWIFT'
vs: 'VS'
issued: 'Issued'
email: 'E-mail'
phone: 'Phone'
items: 'Items'
sku: 'SKU'
name: 'Name'
amount: 'Amount'
unit_price: 'Unit price'
price_without_vat: 'Price exc. VAT'
vat: 'VAT'
total: 'Total'
delivery: 'Shipping'
payment: 'Paymemt'
note: 'Note'
total_without_vat: 'Total exc. VAT'
vat_total: 'VAT total'
paid: 'Paid'
to_pay: 'Total to pay'