invoice: 'Faktúra'
proforma: 'Proforma'
storno: 'Dobropis'
order_number: 'Objednávka č. %number%'
customer: 'Zákazník'
bank_info: 'Bankové údaje pre úhradu'
contact_person: 'Kontaktná osoba'
bank: 'Banka'
account_number: 'Č. účtu'
iban: 'IBAN'
swift: 'SWIFT'
vs: 'VS'
issued: 'Vystavená'
email: 'E-mail'
phone: 'Telefón'
items: 'Položky'
sku: 'SKU'
name: 'Názov'
amount: 'Množstvo'
unit_price: 'J. Cena'
price_without_vat: 'Cena bez DPH'
vat: 'DPH'
total: 'Celkom'
delivery: 'Doprava'
payment: 'Platba'
note: 'Poznámka'
total_without_vat: 'Suma bez DPH'
vat_total: 'DPH celkom'
paid: 'Uhradené'
to_pay: 'Suma na úhradu'