products: 'Produkty'
vat: 'DPH'
with_vat: 's DPH'
without_vat: 'bez DPH'
price_with_vat: 'Cena s DPH'
price_without_vat: 'Cena bez DPH'
your_price: 'Vaša cena'
regular_price: 'Bežná cena'
save: 'Ušetríte'
price: 'Cena'
buy: 'Do košíka'
no_products: 'Neboli nájdené žiadne produkty'
more_than_x_products: 'Viac ako %count% produktov'
best_sellers: 'Najpredávanejšie'
newest: 'Najnovšie produkty'
favourite: 'Obľúbené produkty'
in_stock: 'Skladom'
on_stock: 'Na sklade'
shop_only: 'Na predajni'
out_of_stock: 'Aktuálne nie je skladom'
category_count: 'V kategórii aktuálne zobrazujeme %count% produktov'
show_next: 'Načítať ďalšie'
filters: 'Filtre'
filter: 'Filter'
price_range: 'Cenový rozsah'
do_filter: 'Filtrovať'
reset_filter: 'Reset filtra'
sku: 'Katalógové číslo'
ean: 'EAN'
availability: 'Dostupnosť'
add_favourite: 'Pridať k obľúbeným'
remove_favourite: 'Odobrať z obľúbených'
added_favourite: 'Produkt bol pridaný medzi obľúbené.'
removed_favourite: 'Produkt bol odobraný z obľúbených.'
delivery_free: 'Dopravu máte zadarmo.'
delivery_free_remains: 'Nakúpte eště za %price% a získajte dopravu ZADARMO.'
description: 'Popis produktu'
specification: 'Špecifikácie'
similar: 'Podobné produkty'
added_to_cart: 'Produkt bol úspešne vložený do košíka'
watchdog_add: 'Sledovať cenu'
watchdog_remove: 'Prestať sledovať cenu'
watchdog_added: 'Produkt bol pridaný do sledovania ceny'
watchdog_removed: 'Produkt bol odobraný zo sledovania ceny'
product_detail: 'Detail produktu'
add_to_cart: 'Do košíka'
next: 'Ďalší'
previous: 'Predchádzajúca'
all: 'Všetky'
product_lines: 'Produktové rady'
category: 'Kategórie'
code: 'Kód produktu'
nutritions: 'Nutričné hodnoty'
from_bakery: 'Produkt z pekárne'
ingredients: 'Zloženie'
taking: 'Užívanie'
nutritional: 'Výživové hodnoty'
warnings: 'Upozornenia'
faq: 'FAQ'
reviews: 'Referencie'
our_products: 'Naše produkty'
benefits: 'Prínos užívania'

check_availability: 'Spýtajte sa na produkt'
check_availability_out_of_stock: 'Kedy bude znova skladom?'
check_availability_title: 'Spýtajte sa na produkt'

mo_price: 'MO cena bez DPH'
vo_price: 'VO cena bez DPH'
margin: 'Hrubá marža'

stock: 'skladom <br />(u Vás do 24-48hod.)'
sort:
    newest: 'Najnovšie'
    most_expensive: 'Najvyššia cena'
    cheapest: 'Najnižšia cena'
    name_asc: 'A-Z vzostupne'
    name_desc: 'Z-A zostupne'