products: 'Produkty'
vat: 'DPH'
with_vat: 's DPH'
without_vat: 'bez DPH'
price_with_vat: 'Cena s DPH'
price_without_vat: 'Cena bez DPH'
your_price: 'Vaše cena'
regular_price: 'Běžná cena'
save: 'Ušetříte'
price: 'Cena'
buy: 'Do košíku'
no_products: 'Nebyly nalezeny žádné produkty'
more_than_x_products: 'Více než %count% produktů'
best_sellers: 'Nejprodávanější'
newest: 'Nejnovější produkty'
favourite: 'Oblíbené produkty'
in_stock: 'Skladem'
on_stock: 'Na skladě'
out_of_stock: 'Není skladem'
category_count: 'V kategorii aktuálně zobrazujeme %count% produktů'
show_next: 'Zobrazit další produkty'
filters: 'Filtry'
filter: 'Filtr'
price_range: 'Cenový rozsah'
do_filter: 'Filtrovat'
reset_filter: 'Resetovat filtr'
sku: 'Katalogové číslo'
ean: 'EAN'
availability: 'Dostupnost'
add_favourite: 'Přidat k oblíbeným'
remove_favourite: 'Odebrat z oblíbených'
added_favourite: 'Produkt byl přidán mezi oblíbené.'
removed_favourite: 'Produkt byl odebrán z oblíbených.'
delivery_free: 'Dopravu máte zadarmo.'
delivery_free_remains: 'Nakupte ještě za %price% a získejte dopravu ZADARMO.'
description: 'Popis produktu'
specification: 'Specifikace'
similar: 'Podobné produkty'
added_to_cart: 'Produkt byl úspešně vložen do košíku'
watchdog_add: 'Sledovat cenu'
watchdog_remove: 'Přestat sledovat cenu'
watchdog_added: 'Produkt byl přidán ke sledování ceny'
watchdog_removed: 'Produkt byl odebrán ze sledování ceny'
product_detail: 'Detail produktu'
add_to_cart: 'Do košíku'
next: 'Další'
previous: 'Předchozí'
all: 'Všechny'
product_lines: 'Produktové řady'
category: 'Kategorie'
code: 'Kód produktu'
nutritions: 'Nutriční hodnoty'
from_bakery: 'Produkt z pekárny'
stock: 'skladem <br />(u Vás do 24-48hod.)'
ingredients: 'Složení'
taking: 'Užívání'
nutritional: 'Výživové hodnoty'
warnings: 'Upozornění'
faq: 'FAQ'
reviews: 'Reference'
our_products: 'Naše produkty'
benefits: 'Přínos užívání'


sort:
    newest: 'Nejnovější'
    most_expensive: 'Nejvyšší cena'
    cheapest: 'Nejnižší cena'
    name_asc: 'A-Z vzestupně'
    name_desc: 'Z-A sestupně'