products: 'Products'
vat: 'VAT'
with_vat: 'inc. VAT'
without_vat: 'exc. VAT'
price_with_vat: 'Price inc. VAT'
price_without_vat: 'Price exc. VAT'
your_price: 'Your price'
regular_price: 'Regular price'
save: 'You will save'
price: 'Price'
buy: 'Buy'
no_products: 'No products were found'
more_than_x_products: 'More than %count% products'
best_sellers: 'Bestsellers'
newest: 'The latest products'
favourite: 'Favourite products'
in_stock: 'In stock'
on_stock: 'In stock'
out_of_stock: 'Out of stock'
category_count: 'We currently display %count% products in the category'
show_next: 'Show more products'
filters: 'Filters'
filter: 'Filter'
price_range: 'Price range'
do_filter: 'Filter'
reset_filter: 'Reset filter'
sku: 'Catalog number'
ean: 'EAN'
availability: 'Availability'
add_favourite: 'Add to favourites'
remove_favourite: 'Remove from favourites'
added_favourite: 'The product has been added to your favourites.'
removed_favourite: 'The product has been removed from your favourites.'
delivery_free: 'Shipping is free.'
delivery_free_remains: 'Buy for another %price% and get FREE shipping.'
description: 'Product description'
specification: 'Specification'
similar: 'Similar products'
added_to_cart: 'The product was successfully added to the cart'
watchdog_add: 'Watch price'
watchdog_remove: 'Stop watching price'
watchdog_added: "The product has been added to your price watch."
watchdog_removed: "The product has been removed from your price watch."
product_detail: 'Product detail'
add_to_cart: 'Add to cart'
next: 'Next'
previous: 'Previous'
all: 'All'
product_lines: 'Product lines'
category: 'Category'
code: 'Product code'
nutritions: 'Nutritional values'
ingredients: 'Ingredients'
taking: 'Taking'
nutritional: 'Nutritional'
warnings: 'Warnings'
faq: 'FAQ'
reviews: 'Reviews'
our_products: 'Our products'

sort:
    newest: 'Newest'
    most_expensive: 'The highest price'
    cheapest: 'The lowest price'
    name_asc: 'A-Z ascending'
    name_desc: 'Z-A descending'