title: 'Měsíční výpis'
partner: 'Partner'
ref_no: 'Referenční číslo partnera'
personal_product_commission: 'Rozdílová provize z osobního obratu'
group_product_commission: 'Rozdílová provize z obchodní skupiny'
bonus: 'Motivační bonus'
group_percentual_commission: 'Procentuální provize z obratu celé obchodní skupiny'
sum_commission: 'Celková provize'
info_1: 'Celkový obrat je složen z osobního a skupinového obratu.'
info_2: 'Všechny částky jsou uvedeny bez DPH kromě celkového obratu, který je s DPH.'
sum_turnover: 'Celkový obrat'
personal_commission_turnover: 'Provize z osobního obratu'
product_commission: 'ROZDÍLOVÁ PROVIZE'
ref_no_short: 'Ref.číslo'
level: 'Pozice'
name: 'Jméno'
commission: 'Provize'
percent_commission: 'PROCENTUÁLNÍ PROVIZE'
percent: 'Procento'
commission_no_vat: 'Provize bez DPH'