title: 'Mesačný výpis'
partner: 'Partner'
ref_no: 'Referenčné číslo partnera'
personal_product_commission: 'Rozdielová provízia z osobného obratu'
group_product_commission: 'Rozdielová provízia z obchodnej skupiny'
bonus: 'Motivačný bonus'
group_percentual_commission: 'Percentuálna provízia z obratu celej obchodnej skupiny'
sum_commission: 'Celková provízia'
info_1: 'Celkový obrat je zložený z osobného a skupinového obratu.'
info_2: 'Všetky sumy sú uvedené bez DPH okrem celkového obratu, ktorý je s DPH.'
sum_turnover: 'Celkový obrat'
personal_commission_turnover: 'Provízia z osobného obratu'
product_commission: 'ROZDIELOVÁ PROVÍZIA'
ref_no_short: 'Ref.číslo'
level: 'Pozícia'
name: 'Meno'
commission: 'Provízia'
percent_commission: 'PERCENTUÁLNÁ PROVÍZIA'
percent: 'Percento'
commission_no_vat: 'Provízie bez DPH'