home: 'Home'
contact_us: 'Not sure? Contact us!'
search: 'Search'
to_cart: 'To cart'
cart_count: 'Items'
cart_total: 'Total'
producers: 'Manufacturers'
producer: 'Manufacturer'
basic_info: 'Basic information'
my_account: 'My account'
socials: 'Social media'
mibron_engine: 'I use e-shop <a href="https://mibron.store" target="_blank" rel="noopener,noreferer">MIBRON</a>'
choose_from_our_offer: 'Choose from our offer'
show_more: 'Show more'
show_less: 'Show less'
show_all: 'Show all'
show_selected: 'Show selected'
stocked_only: 'Stock availability'
on_stock_eshop: 'In e-shop stock'
close: 'Close'
continue_shopping: 'Continue shopping'
go_to_cart: 'Go to cart'
email: 'E-mail'
password: 'Password'
email-placeholder: 'Enter e-mail'
password-placeholder: 'Enter password'
password_repeat: 'Password again'
login: 'Log in'
register: 'Register'
reset_password: 'Reset password'
save: 'Save'
edit_product: 'Edit product'
where_to_find_us: 'Where to find us'
explore_products: 'Explore products'
from_our_blog: 'From our blog'
from_our_instagram: 'From our Instagram'
more_images: 'More images'
payments: 'Payment methods'
contacts: 'Contacts'
address: 'Address'
facebook: 'Facebook'
youtube: 'YouTube'
instagram: 'Instagram'
important_info: 'Important information'
scroll_up: 'Scroll up'
back: 'Back'
blog: 'Blog'
search_string: 'Search of "%search%"'
found_categories: 'Found categories'
found_products: 'Found products'
total_products: 'At the moment we have %count% products'
total_product_lines: 'At the moment we have %count% product lines'
about_purchase: 'About purchase'
partners_info: 'Partners info'
pay: 'Pay'

newsletter:
	title: 'Newsletter subscribe'
	text: "Subscribe to our newsletter so you don't miss anything"
	mail: 'Your e-mail'
	subscribe: 'Subscribe'
	gdpr: 'I agree to <a href="/privacy-policy">the processing of personal data</a>'

contact:
	office: 'Registered office address'
	invoice: 'Billing information'
	contacts: 'Contact information'
	name: 'Name'
	surname: 'Surname'
	phone: 'Phone'
	country: 'Country'
	email: 'E-mail'
	message: 'Message'
	send: 'Send'
	sent: 'Your message was successfully sent. Thank you!'