home: 'Úvod'
contact_us: 'Nevíte si rady? Kontaktujte nás!'
search: 'Hledat'
to_cart: 'Do košíku'
cart_count: 'Položek'
cart_total: 'Celkem'
producers: 'Výrobci'
producer: 'Výrobce'
basic_info: 'Základní informace'
my_account: 'Můj účet'
socials: 'Sociální sítě'
mibron_engine: 'Používám e-shop <a href="https://mibron.store" target="_blank" rel="noopener,noreferer">MIBRON</a>'
choose_from_our_offer: 'Vyberte si z naší nabídky'
show_more: 'Zobrazit víc'
show_less: 'Zobrazit méně'
show_all: 'Zobrazit všechny'
show_selected: 'Zobrazit vybrané'
stocked_only: 'Skladová dostupnost'
on_stock_eshop: 'Na skladě v e-shopu'
close: 'Zavřít'
continue_shopping: 'Pokračovat v nákupu'
go_to_cart: 'Do košíku'
email: 'E-mail'
password: 'Heslo'
email-placeholder: 'Zadejte e-mail'
password-placeholder: 'Zadajete heslo'
password_repeat: 'Heslo znovu'
login: 'Přihlásit'
register: 'Registrovat'
reset_password: 'Obnovit heslo'
save: 'Uložit'
edit_product: 'Upravit produkt'
where_to_find_us: 'Kde nás najdete'
explore_products: 'Prozkoumejte produkty'
from_our_blog: 'Z našeho blogu'
from_our_instagram: 'Z našeho Instagramu'
more_images: 'Další fotky'
payments: 'Možnosti platby'
contacts: 'Kontakty'
address: 'Adresa'
facebook: 'Facebook'
youtube: 'YouTube'
instagram: 'Instagram'
important_info: 'Důležité informace'
scroll_up: 'Nahoru'
back: 'Zpět'
blog: 'Blog'
search_string: 'Hledat "%search%"'
found_categories: 'Nalezené kategorie'
found_products: 'Nalezené produkty'
total_products: 'Aktuálně u nás najdete %count% produktů'
total_product_lines: 'Aktuálně máme %count% produktových řad'
about_purchase: 'O nákupu'
partners_info: 'Pro partnery'
social_heading: 'Sledujte nás'
social_text: 'Jsme na sociálích sítích, ale sledujte i naše skvělé články.'
our_products: 'Naše produkty'
copyright: 'všechna práva vyhrazena'
products_description_1: 'Výživové doplňky app jsou koncentrovaným zdrojem vitamínů, minerálů a dalších tělu prospěšných látek.'
products_description_2: 'Čím jsou jedinečné? Charakterizuje jejich vysoká kvalita a unikátní složení, které jinde nenajdete. Při tvorbě receptury produktů dbáme na selekci a synergii složek, což mimo jiné zaručuje jejich vysokou využitelnost v organismu.'
pay: 'Zaplatit'

newsletter:
	title: 'Odběr novinek'
	text: 'Přihlaste se k odběru novinek, aby Vám nic neuniklo'
	mail: 'Váš email'
	subscribe: 'Přihlásit se'
	gdpr: 'Souhlasím se <a href="/ochrana-osobnich-udaju">zpracováním osobních údajů</a>'

contact:
	office: 'Adresa sídla firmy'
	invoice: 'Fakturační údaje'
	contacts: 'Kontaktní údaje'
	name: 'Jméno'
	surname: 'Příjmení'
	phone: 'Telefon'
	country: 'Země'
	email: 'E-mail'
	message: 'Zpráva'
	send: 'Odeslat'
	sent: 'Vaše zpráva byla úspěšně odeslána. Děkujeme!'

certificates:
	title: 'Certifikovaná kvalita'
	download: 'Stáhnout certifikáty v PDF'

faq:
	title: 'Vaše dotazy &amp; odpovědi'
	help_title: 'Lékařská poradna'
	help_text1: 'Máte otázky ohledně užívání našich produktů? Nevíte jak výživové doplňky app správně dávkovat?<br>'
	help_text2: 'Nebo Vám není jasné, zda a jak je vhodné výživové doplňky app kombinovat s odbornou terapií?'
	help_text3: 'Na tyto a další podobné otázky Vám s radostí odpoví <strong>MUDr. Melita Hromadová, CSc.</strong>'
	help_text4: 'Dotazy jiného charakteru zasílejte prostřednictvím kontaktního formuláře na záložce <a href="/kontakt">KONTAKT</a>.'
	ask_doctor: 'Zeptejte se přímo doktorky!'
	doctor: '<strong>MUDr. Melita Hromadová, CSc.</strong> vystudovala Lékařskou fakultu UK v Bratislavě, odbor pediatrie. Pracovala jako samostatný vědecko-výzkumný pracovník v Ústavě experimentální endokrinologie, Slovenské akademie věd, kde se podílela na projektech zaměřených na vliv výživy na metabolismus a hormonální funkce. Vedla měření cholesterolu a rizikových faktorů civilizačních onemocnění v slovenské populaci a odborné poradenství ve 35 městech SR. Byla členkou mnohých odborných združení jako jsou Slovenská pediatrická společnost, Slovenská společnost pro výzkum aterosklerózy a Združení Zdravá výživa. Je autorkou více než 100 odborných publikací a článků. Více jak 25 roků se věnuje významu suplementace organismu látkami s antioxidační aktivitou v prevenci vzniku a rozvoje civilizačních onemocnění.'
