home: 'Úvod'
contact_us: 'Neviete si rady? Kontaktujte nás!'
search: 'Hľadať'
to_cart: 'Do košíka'
cart_count: 'Položiek'
cart_total: 'Celkom'
producers: 'Výrobcovia'
gallery: 'Galéria'
producer: 'Výrobca'
basic_info: 'Základné informácie'
my_account: 'Môj účet'
socials: 'Sociálné siete'
mibron_engine: 'Používam e-shop <a href="https://mibron.store" target="_blank" rel="noopener,noreferer">MIBRON</a>'
choose_from_our_offer: 'Vyberte si z našej ponuky'
show_more: 'Zobraziť viac'
show_less: 'Zobraziť menej'
show_all: 'Zobraziť všetkých'
show_selected: 'Zobraziť vybrané'
stocked_only: 'Skladová dostupnosť'
on_stock_eshop: 'Len na sklade'
close: 'Zavrieť'
continue_shopping: 'Pokračovať v nákupe'
go_to_cart: 'Do košíka'
email: 'E-mail'
password: 'Heslo'
email-placeholder: 'Zadajte e-mail'
password-placeholder: 'Zadajte heslo'
password_repeat: 'Heslo znovu'
login: 'Prihlásiť'
register: 'Registrovať'
reset_password: 'Obnoviť heslo'
save: 'Uložiť'
edit_product: 'Upraviť produkt'
where_to_find_us: 'Kde nás nájdete'
explore_products: 'Preskúmajte produkty'
from_our_blog: 'Z nášho blogu'
from_our_instagram: 'Z nášho Instagramu'
more_images: 'Dalšie fotky'
payments: 'Možnosti platby'
contacts: 'Kontakty'
address: 'Adresa'
facebook: 'Facebook'
youtube: 'YouTube'
instagram: 'Instagram'
important_info: 'Dôležité informácie'
scroll_up: 'Hore'
back: 'Späť'
blog: 'Blog'
search_string: 'Hľadať "%search%"'
found_categories: 'Nájdené kategórie'
found_products: 'Nájdené produkty'
total_products: 'Aktuálne u nás nájdete %count% produktov'
total_product_lines: 'Aktuálne máme %count% produktových rád'
about_purchase: 'O nákupe'
partners_info: 'Pre partnerov'
social_heading: 'Sledujte nás'
social_text: 'Sme na sociálnych sieťach no sledujte i naše skvelé články.'
copyright: 'všetky práva vyhradené'
products_description_1: 'Výživové doplnky app sú koncentrovaným zdrojom vitamínov, minerálov a ďalších telu prospešných látok.'
products_description_2: 'Čím sú jedinečné? Charakterizuje ich vysoká kvalita a unikátne zloženie, ktoré inde nenájdete. Pri tvorbe receptúry produktov dbáme na selekciu a synergiu zložiek, čo okrem iného zaručuje ich vysokú využiteľnosť v organizme.'
pay: 'Zaplatiť'

newsletter:
	title: 'Odber noviniek'
	text: 'Buďte vždy v obraze, odoberajte novinky, tipy, triky a motiváciu k maximálnemu výkonu!'
	mail: 'Váš email'
	subscribe: 'Odoberať'
	gdpr: 'Súhlasím so <a href="/ochrana-osobnych-udajov">spracovaním osobných údajov</a>'

contact:
	office: 'Adresa sídla firmy'
	invoice: 'Fakturačné údaje'
	contacts: 'Kontaktné údaje'
	name: 'Meno'
	surname: 'Priezvisko'
	phone: 'Telefón'
	country: 'Krajina'
	email: 'E-mail'
	message: 'Správa'
	send: 'Odoslať'
	sent: 'Vaša správa bola úspešne odoslaná. Ďakujeme!'

welcome:
	distributor: 'Distribútor vegánskych produktov'
	shop_products: 'Sme velkoobchod s viac ako 1000 produktami...'
	you_can_find: 'U nás nájdete produkty:'
	list_1: 'iba rastlinného zloženia'
	list_2: 'potraviny, pochutiny, náhrady pre varenie'
	list_3: 'aj v gastro baleniach'
	list_4: 'bez laktózy, GMO a palmového oleja'
	list_5: 'aj bez lepku aj v BIO kvalite'
	list_6: 'certifikovanej drogérie'
	for_shop: 'pre maloobchod klikajte:'

certificates:
	title: 'Certifikovaná kvalita'
	download: 'Stiahnuť certifikáty v PDF'

faq:
	title: 'Vaše otázky &amp; odpovede'
	help_title: 'Lekárska poradňa'
	help_text1: 'Máte otázky o používaní našich produktov? Nie ste si istí, ako správne dávkovať výživové doplnky app?'
	help_text2: 'Alebo si nie ste istí, či a ako kombinovať výživové doplnky app s profesionálnou terapiou?'
	help_text3: 'Na tieto a podobné otázky vám rada odpovie <strong>MUDr. Melita Hromadová, CSc.</strong>'
	help_text4: 'Otázky iného charakteru by ste mali posielať prostredníctvom kontaktného formulára na karte <a href="/kontakt">Kontakt</a>.'
	ask_doctor: 'Spýtajte sa priamo lekára!'
	doctor: '<strong>MUDr. Melita Hromadová, CSc.</strong> vyštudovala Lekársku fakultu UK v Bratislave, odbor pediatria. Pracovala ako samostatná vedecká pracovníčka v Ústave experimentálnej endokrinológie SAV. Akadémie vied, kde sa podieľala na projektoch zameraných na vplyv výživy na metabolizmus a hormonálne funkcie. Uskutočnila merania cholesterolu a rizikových faktorov civilizačných ochorení v slovenskej populácii a odborné poradenstvo v 35 mestách na Slovensku. Bola členkou mnohých profesijných združení, ako napr. Pediatrická spoločnosť, Slovenská spoločnosť pre výskum aterosklerózy a Združenie pre zdravú výživu. Je autor viac ako 100 odborných publikácií a článkov. Už viac ako 25 rokov sa venuje významu suplementácie v prevencii a rozvoji civilizačných ochorení.'
