no_item_found_reset: 'Žiadne položky nenájdené. Filter môžete vynulovať'
no_item_found: 'Žiadne položky nenájdené.'
here: 'tu'
items: 'Položky'
all: 'všetky'
from: 'z'
reset_filter: 'Resetovať filter'
group_actions: 'Hromadné akcie'
show_all_columns: 'Zobraziť všetky stĺpce'
hide_column: 'Skryť stĺpec'
action: 'Akcie'
previous: 'Predchádzajúca'
next: 'Ďalší'
choose: 'Vyberte'
execute: 'Vykonať'
show_filter: 'Filtrovať'
per_page_submit: ''