no_item_found_reset: 'Nebyly nalezeny žádné položky. Můžete resetovat filtr'
no_item_found: 'Nebyly nalezeny žádné položky.'
here: 'zde'
items: 'Položky'
all: 'všechny'
from: 'z'
reset_filter: 'Resetovat filtr'
group_actions: 'Hromadné akce'
show_all_columns: 'Zobrazit všechny sloupce'
hide_column: 'Skrýt sloupec'
action: 'Akce'
previous: 'Předchozí'
next: 'Další'
choose: 'Vyberte'
execute: 'Provést'
show_filter: 'Filtrovat'
per_page_submit: ''