{block content}
    {control userLevelGrid}
{/block}
{block dashboardTitle}
    <small>Přehled</small>
    <h1>Zákaznické skupiny</h1>
{/block}
{block headerActions}
    <div style="display: inline-block;">
        <a class="btn btn-success" n:href="add"><i aria-hidden="true" class="fa fa-plus fa-first"></i> Pridať</a>
    </div>
{/block}