{php
$slug = preg_replace('/^(.+)\.svg$/', '$1', $slug);
$base = $basePath ? $basePath.'/' : '';
$svg = file_get_contents($base . 'assets' . DIRECTORY_SEPARATOR . 'front' . DIRECTORY_SEPARATOR . 'svg' . DIRECTORY_SEPARATOR . $slug . '.svg');
echo $svg;
}