{block content}
    {control bannerGrid}
{/block}
{block dashboardTitle}
    <small>Obsah</small>
    <h1>Bannery</h1>
{/block}
{block headerActions}
    <div style="display: inline-block;">
        <a class="btn btn-success" n:href="bannerAdd"><i aria-hidden="true" class="fa fa-plus fa-first"></i> Přidat banner</a>
    </div>
{/block}