{block content}
    <div class="row">
        <div class="col-12">
            {control datePickForm}
        </div>
    </div>
    {control customerGrid}
{/block}
{block dashboardTitle}
    <small>Správa objednávek</small>
    <h1>Zákazníci</h1>
{/block}
