{block content}
    {control customerForm}
{/block}
{block dashboardTitle}
    <small>Zákazníci</small>
    <h1>Upravit zákazníka</h1>
{/block}
{block headerActions}
    <div style="display: inline-block;">
        <a class="btn btn-info" n:href="default"><i aria-hidden="true" class="fas fa-arrow-left fa-first"></i> Zpět</a>
    </div>
{/block}