{block content}
    {control paymentGrid}
{/block}
{block dashboardTitle}
    <small>Nastavení</small>
    <h1>Platební metody</h1>
{/block}
{block headerActions}
    <div style="display: inline-block;">
        <a class="btn btn-success" n:href="add"><i aria-hidden="true" class="fa fa-plus fa-first"></i> Přidat platební metodu</a>
    </div>
{/block}