{snippet partnerGrid}
    {control grid}
{/snippet}
<style>
    .datagrid .btn-xs, .datagrid .btn-sm {
        padding: .5em;
        height: auto;
        margin: 0;
        font-size: 1rem;
    }
    .datagrid .form-control {
        width: auto;
        height: auto;
        font-size: 1rem;
    }
    .datagrid .col-per-page{
        display: none;
    }
</style>