{*<div n:if="$product->producer_id" class="my-4 text-center text-md-right text-lg-left">
    {var $producer = $product->producer}
    <a href="/vyrobca/{$producer->slug}">
        <img src="{$basePath}{$producer->image}" alt="{$producer->name}" class="img-fluid" style="max-height: 100px;max-width: 300px">
    </a>
</div>*}