{block content}
    {control tagGrid}
{/block}
{block dashboardTitle}
    <small>Obsah</small>
    <h1>Tagy článkov</h1>
{/block}
{block headerActions}
    <div style="display: inline-block;">
        <a class="btn btn-success" n:href="add"><i aria-hidden="true" class="fa fa-plus fa-first"></i> Přidat tag</a>
    </div>
{/block}